<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="gbk">
<meta name="robots" content="all">
<meta name="author" content="Tencent-CP">
<meta name="Copyright" content="Tencent">
<meta itemprop="name" content="鸿图之下-腾讯旗舰级大世界沙盘战略手游-腾讯游戏">
<meta itemprop="description" content="腾讯旗舰级大世界沙盘战略手游《鸿图之下》火爆下载中，快来逐鹿天下吧！">
<meta itemprop="image" content="//game.gtimg.cn/images/srpg/a20200818web/logo_icon.png">
<meta name="Description" content="腾讯旗舰级大世界沙盘战略手游《鸿图之下》火爆下载中，快来逐鹿天下吧！" />
<meta name="Keywords" content="鸿图,虚幻四,战争,策略,SLG,三国,历史,次世代,大世界,旗舰级" />
<title>鸿图之下-腾讯旗舰级大世界沙盘战略手游-腾讯游戏</title>
<link rel="stylesheet" type="text/css" href="/a20200818web/css/comm.css" />
<!-- #t6Hl8#B7EE17DC4D0A686A9659051D394FEFC9 -->
    <link rel="stylesheet" type="text/css" href="/a20200818web/css/generaldetail.css" />
    <script>
        (function() {
            function b(a) {
                if (window.sessionStorage) sessionStorage.setItem("channel", a);
                else {
                    var b = b || 0,
                        c = "";
                    0 != b && (c = new Date, c.setTime(c.getTime() + 1E3 * b), c = "; expires=" + c.toGMTString());
                    document.cookie = "channel=" + escape(a) + c + "; path=/"
                }
            }
            var a = navigator.userAgent;
            if (-1 != a.indexOf("iPhone") || -1 != a.indexOf("iPad") || -1 != a.indexOf("iPod") || -1 != a.indexOf("Android")) a = document.referrer, -1 < a.indexOf("baidu.com") ? b("seo_baidu") : -1 < a.indexOf("sogou.com") ? b("seo_sogou") : -1 < a.indexOf("sm.cn") ? b("seo_sm") : -1 < a.indexOf("so.com") ? b("seo_360") : -1 < a.indexOf("bing.com") ? b("seo_bing") : -1 < a.indexOf("google.com") && b("seo_google"), self.location = "/a20200818webm/general.shtml" + window.location.search
        })();
    </script>
    <script>
        var setSite = { //设置网站属性
            siteType: "os", //必填项:"os"代表是官网，如果不是，则填写actName例如a20160701xxx
            pageType: "generalDetail", //必填项:本页面的定位；按照页面含义填写例如main||list||detail||download||share||page1||pageN
            pageName: "游戏资料详情页", //必填项:页面中文名
            project: "other",
            osact: "pc"
        }
    </script>
</head>

<body>
    <!--[if lt IE 9]>
    <div class='chromeframe'><p>您使用的IE浏览器版本过低，本站不再支持，<a href="//windows.microsoft.com/">升级您的IE浏览器</a>，或使用<a href="//www.google.cn/chrome/">Google Chrome</a>、<a href="//www.firefox.com.cn/download/">Firefox</a>等高级浏览器，将会得到更好的体验！</p></div>
    <![endif]-->
    <div class="wrapper" id='wrapper'>
        <div class="part part1">
            <link rel="stylesheet" type="text/css" href="/a20200818web/css/nav.css" />
<div class="nav">
    <div class="nav-list">
        <div class="nav-item">
            <a href="/a20200818web/index.shtml" onclick="PTTSendClick('btn','nav-btn-home','首页')"></a>
        </div>
        <div class="nav-item">
            <a href="/gicp/news/820/2/111266/1.html" onclick="PTTSendClick('btn','nav-btn-news','新闻咨讯')"></a>
        </div>
        <div class="nav-item">
            <a href="/a20200818web/generallist.shtml" onclick="PTTSendClick('btn','nav-btn-gamedata','游戏资料')"></a>
        </div>
        <div class="nav-item">
            <a href="/gicp/news/823/2/110751/1.html" onclick="PTTSendClick('btn','nav-btn-strategy','攻略中心')"></a>
        </div>
        <div class="nav-item nav-more">
            <ul class="nav-item-more">
                <li>
                    <a href="//war.qq.com/cp/a20210115sgzt/" target="_blank">
                        <img src="//game.gtimg.cn/images/srpg/a20200818web/nav_code_cdk.png" alt="" class="nav_more_code nav_more_hover">
                        <span class="nav_more_text nav_more_hover">扫一扫，进入<br></span>
                        史官专题
                    </a>
                </li>
            </ul>
            <a href="//war.qq.com/cp/a20201019fans/" onclick="PTTSendClick('btn','nav-btn-community','玩家社区')"></a>
        </div>
        <div class="nav-item nav-item-hide" style="display: none;">
            <a href="#part7" onclick="PTTSendClick('btn','nav-btn-features','游戏特色')"></a>
        </div>
        <div class="nav-item" style="display: none;">
            <ul class="nav-item-more">
                <li>
                    <a href="javascript:;">
                        <img src="//game.gtimg.cn/images/srpg/a20200818web/nav_code_mh.png" alt="" class="nav_more_code">
                        <span class="nav_more_text">扫一扫，进入<br></span>
                        盟会入驻
                    </a>
                </li>
            </ul>
            <a href="javascript:;" onclick="PTTSendClick('btn','nav-btn-mh','盟会入驻')"></a>
            <!-- <a href="//war.qq.com/act/3532/a20200820mh/index.html" onclick="PTTSendClick('btn','nav-btn-mh','盟会入驻')"></a> -->
        </div>
        <div class="nav-item">
            <ul class="nav-item-more">
                <li>
                    <!-- <a href="//war.qq.com/act/3754/a20200917open/index.html"></a> -->
                    <a href="javascript:;">
                        <img src="//game.gtimg.cn/images/srpg/a20200818web/nav_code_klm.png" alt="" class="nav_more_code nav_more_hover">
                        <span class="nav_more_text nav_more_hover">扫一扫，进入<br></span>
                        口令码兑换中心
                    </a>
                </li>
                <li>
                    <!-- <a href="//war.qq.com/act/3825/a20200927open/index.html">不删档兑换中心</a> -->
                    <a href="javascript:;">
                        <img src="//game.gtimg.cn/images/srpg/a20200818web/nav_code_bsd.png" alt="" class="nav_more_code nav_more_hover">
                        <span class="nav_more_text nav_more_hover">扫一扫，进入<br></span>
                        不删档兑换中心
                    </a>
                </li>
                <li>
                    <!-- <a href="//war.qq.com/act/a20200727czfl/index_p.html">充值返利兑换</a> -->
                    <a href="javascript:;">
                        <img src="//game.gtimg.cn/images/srpg/a20200818web/nav_code_fl.png" alt="" class="nav_more_code nav_more_hover">
                        <span class="nav_more_text nav_more_hover">扫一扫，进入<br></span>
                        充值返利兑换
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="//game.gtimg.cn/images/srpg/a20200818web/nav_code_cdk.png" alt="" class="nav_more_code nav_more_hover">
                        <span class="nav_more_text nav_more_hover">扫一扫，进入<br></span>
                        cdkey兑换中心
                    </a>
                </li>
            </ul>
            <a href="javascript:;" class="nav-more" onclick="PTTSendClick('btn','nav-btn-cdkexchange','兑换中心')"></a>
        </div>
        <div class="nav-item">
            <ul class="nav-item-more">
                <li>
                    <!-- <a href="//kf.qq.com/touch/scene_product.html?scene_id=kf7358">客服中心</a> -->
                    <a href="javascript:;">
                        <img src="//game.gtimg.cn/images/srpg/a20200818web/nav_code_kf.jpg" alt="" class="nav_more_code nav_more_hover">
                        <span class="nav_more_text nav_more_hover">扫一扫，进入<br></span>
                        客服中心
                    </a>
                </li>
                <li>
                    <a href="//jiazhang.qq.com/jz/home.html?ADTAG=gamepcbanner">成长守护平台</a>
                </li>
            </ul>
            <a href="javascript:;" class="nav-more" onclick="PTTSendClick('btn','nav-btn-player','玩家支持')">玩家支持</a>
        </div>
    </div>
    <img src="//game.gtimg.cn/images/srpg/a20200818web/nav_logo.png" alt="" class="nav-logo">
</div><!-- #t6Hl8#B09E66F4273891FD60AD3B96FD866D2E -->
            <div class="content"></div>
            <a href="/a20200818web/index.shtml" class="to-web" onclick="PTTSendClick('btn','to-web','返回首页')">返回首页</a>
        </div>

        <!-- 第二个板块：武将 -->
        <div class="part part2">
            <div class="part2-content">
                <div class="address-box"><a href="/a20200818web/index.shtml" onclick="PTTSendClick('btn','toindex','返回首页')">首页</a>
                    &gt;<a href="/a20200818web/generallist.shtml" onclick="PTTSendClick('btn','togeneral','游戏资料')">游戏资料</a>&gt; 武将资料
                </div>
                <a class="to-general-list" href="/a20200818web/generallist.shtml" onclick="PTTSendClick('btn','togeneral','游戏资料')">游戏资料</a>
                <div class="part2-info">
                    <div class="part2-country-flag" :data-country="countries[general.slgs_ce]"></div>
                    <div class="part2-name" :data-country="countries[general.slgs_ce]">{{general.wjmc_4b}}</div>
                    <div class="part2-hero-big" :style="{backgroundImage: 'url(' + general.wjbiggwpic + ')'}"></div>
                    <div class="part2-title part2-title1"></div>
                    <div class="general-table">
                        <div class="p-row">
                            <div class="p-col"><div class="font">势力归属:</div> <div>{{general.slgs_ce || ''}}<i></i></div></div>
                            <div class="p-col"><div class="font">武将星级:</div> <div><i v-for="(star,index) in general.wjxj_94" class="part2-star"></i></div></div>
                        </div>
                        <div class="p-row">
                            <div class="p-col"><div class="font">将令:</div> <div>{{general.jl_28 || ''}}<i></i></div></div>
                            <div class="p-col"><div class="font">兵种:</div> <div><i class="part2-soldier" :data-soldier="soldiers[general.wjbz_cd]"></i></div></div>
                        </div>
                        <div class="p-row">
                            <div class="p-col"><div class="font">兵种进阶:</div> <div><i class="part2-soldier-add1" :data-soldier="soldiers[general.wjbz_cd]"></i><i class="part2-soldier-add2" :data-soldier="soldiers[general.wjbz_cd]"></i></div></div>
                        </div>
                    </div>
                    <div class="part2-title part2-title2"></div>
                    <div class="general-table">
                        <div class="p-row">
                            <div class="p-col">
                                <div class="font">武力:</div>
                                <div class="part2-progress">
                                    <i :style="{width: getWidth(general.wlzjcsz_89 + general.wlzzcsz_7e)}"></i>
                                    <i :style="{width: getWidth(general.wlzjcsz_89)}"></i>
                                </div>
                            <div>
                                <span class="general-number1">{{general.wlzjcsz_89}}</span>
                                <span class="general-number2">+{{general.wlzzcsz_7e}}</span></div>
                            </div>
                            <div class="p-col">
                                <div class="font">防御:</div>
                                <div class="part2-progress">
                                    <i :style="{width: getWidth(general.fyzzcsz_01 + general.fyzjcsz_37)}"></i>
                                    <i :style="{width: getWidth(general.fyzjcsz_37)}"></i>
                                </div>
                                <div>
                                    <span class="general-number1">{{general.fyzjcsz_37}}</span>
                                    <span class="general-number2">+{{general.fyzzcsz_01}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="p-row">
                            <div class="p-col">
                                <div class="font">智力:</div>
                                <div class="part2-progress">
                                    <i :style="{width: getWidth(general.zlzzcsz_dd + general.zlzjcsz_64)}"></i>
                                    <i :style="{width: getWidth(general.zlzjcsz_64)}"></i>        
                                </div>
                                <div>
                                    <span class="general-number1">{{general.zlzjcsz_64}}</span>
                                    <span class="general-number2">+{{general.zlzzcsz_dd}}</span>
                                </div>
                            </div>
                            <div class="p-col">
                                <div class="font">攻速:</div>
                                <div class="part2-progress">
                                    <i :style="{width: getWidth(general.gszcsz_0b + general.gsjcsz_53)}"></i>
                                    <i :style="{width: getWidth(general.gsjcsz_53)}"></i>        
                                </div>
                                <div>
                                    <span class="general-number1">{{general.gsjcsz_53}}</span>
                                    <span class="general-number2">+{{general.gszcsz_0b}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="p-row">
                            <div class="p-col">
                                <div class="font">政治:</div>
                                <div class="part2-progress">
                                    <i :style="{width: getWidth(general.zzzcsz_d9 + general.zzjcsz_d7)}"></i>
                                    <i :style="{width: getWidth(general.zzjcsz_d7)}"></i>        
                                </div>
                                <div>
                                    <span class="general-number1">{{general.zzjcsz_d7}}</span>
                                    <span class="general-number2">+{{general.zzzcsz_d9}}</span>
                                </div>
                            </div>
                            <div class="p-col">
                                <div class="font">魅力:</div>
                                <div class="part2-progress">
                                    <i :style="{width: getWidth(general.lzcsz_78 + general.ljcsz_87)}"></i>
                                    <i :style="{width: getWidth(general.ljcsz_87)}"></i>        
                                </div>
                                <div>
                                    <span class="general-number1">{{general.ljcsz_87}}</span>
                                    <span class="general-number2">+{{general.lzcsz_78}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="part2-skill">
                    <div class="part2-title part2-title3"></div>
                    <div class="part2-skill-nav">
                        <a href="javascript:;" class="part2-skill-item" :class="{ on:skill == '1' }" @click="skill=1">
                            <div class="part2-martial-box">
                                <img :src="general.zjjwjicon_40" alt="" class="part2-martial-img">
                                <!-- <img src="./ossweb-img/martial.png" alt="" class="part2-martial-img"> -->
                                <p class="part2-martial-class">{{general.zjjwjdj_c9 + '级'}}</p>
                            </div>
                            <div>主将技</div>    
                        </a>
                        <a href="javascript:;" class="part2-skill-item" :class="{ on:skill == '2' }" @click="skill=2">
                            <div class="part2-martial-box">
                                <img :src="general.wjicon_40" alt="" class="part1-martial-img">
                                <!-- <img src="./ossweb-img/martial.png" alt="" class="part2-martial-img"> -->
                                <p class="part2-martial-class">{{general.zjjwjdj_c9 + '级'}}</p>
                            </div>
                            <div>自带技能</div>    
                        </a>
                        <a href="javascript:;" class="part2-skill-item" :class="{ on:skill == '3' }" @click="skill=3">
                            <div class="part2-martial-box" v-if="martialListId && general.kcjwj_0d && martialListId[general.kcjwj_0d]">
                                <img :src="martialListId[general.kcjwj_0d].wjicon_40" alt="" class="part1-martial-img">
                                <!-- <img src="./ossweb-img/martial.png" alt="" class="part2-martial-img"> -->
                                <p class="part2-martial-class">{{general.zjjwjdj_c9 + '级'}}</p>
                            </div>
                            <div>可拆解技能</div>
                        </a>
                    </div>
                    <div class="part2-skill-panel" :class="{ on:skill == '1' }">
                        <div class="part2-skill-name">{{general.zjjwjmc_17}}</div>
                        <div class="part2-detail">{{general.zjjwjsm_13}}</div>
                        <div class="general-table">
                            <div class="p-row">
                                <div class="p-col"><div class="font">发动几率:</div> <div>{{general.zjjjncd_23 ? general.zjjjncd_23 + '%' : '/'}}</div></div>
                            </div>
                            <div class="p-row">
                                <div class="p-col"><div class="font">适用兵种:</div> <div>
                                    <i class="part2-soldier" v-for="(item, index) in suit(general.zjjsybz_82)" :key="index" :data-soldier="soldiers[item]"></i>
                                </div></div>
                            </div>
                        </div>
                    </div>
                    <div class="part2-skill-panel" :class="{ on:skill == '2' }">
                        <div class="part2-skill-name">{{general.wjmc_17}}</div>
                        <div class="part2-detail">{{general.wjsm_13}}</div>
                        <div class="general-table">
                            <div class="p-row">
                                <div class="p-col"><div class="font">自带武将:</div> <div>{{general.zdwj_d3 || ''}}</div></div>
                                <div class="p-col"><div class="font">发动几率:</div> <div>{{general.jncd_23 ? general.jncd_23 + '%' : '/'}}</div></div>
                            </div>
                            <div class="p-row">
                                <div class="p-col"><div class="font">技能类型:</div> <div>{{general.jnlx_be || ''}}</div></div>
                                <div class="p-col"><div class="font">可装配数：</div> <div>{{general.kzps_0d || ''}}</div></div>
                            </div>
                            <div class="p-row">
                                <div class="p-col"><div class="font">适用兵种:</div> <div>
                                    <i class="part2-soldier" v-for="(item, index) in suit(general.sybz_82)" :key="index" :data-soldier="soldiers[item]"></i>
                                </div></div>
                            </div>
                        </div>
                        <div class="part2-h3">满级说明</div>
                        <div class="part2-detail">{{general.mjxg_fe}}</div>
                    </div>
                    <div class="part2-skill-panel" :class="{ on:skill == '3' }" v-if="martialListId && general.kcjwj_0d && martialListId[general.kcjwj_0d]">
                        <div class="part2-skill-name">{{martialListId[general.kcjwj_0d].wjmc_17}}</div>
                        <div class="part2-detail">{{martialListId[general.kcjwj_0d].wjsm_13}}</div>
                        <div class="general-table">
                            <div class="p-row">
                                <div class="p-col"><div class="font">自带武将:</div> <div>{{martialListId[general.kcjwj_0d].zdwj_d3}}</div></div>
                                <div class="p-col"><div class="font">发动几率:</div> <div>{{martialListId[general.kcjwj_0d].jncd_23 ? martialListId[general.kcjwj_0d].jncd_23 + '%' : '/'}}</div></div>
                            </div>
                            <div class="p-row">
                                <div class="p-col"><div class="font">技能类型:</div> <div>{{martialListId[general.kcjwj_0d].jnlx_be}}</div></div>
                                <div class="p-col"><div class="font">可装配数：</div> <div>{{martialListId[general.kcjwj_0d].kzps_0d}}</div></div>
                            </div>
                            <div class="p-row">
                                <div class="p-col"><div class="font">适用兵种:</div> <div>
                                    <i class="part2-soldier" v-for="(item, index) in suit(martialListId[general.kcjwj_0d].sybz_82)" :key="index" :data-soldier="soldiers[item]"></i>
                                </div></div>
                            </div>
                            <!-- <div class="p-row">
                                <div class="p-col"><div class="font">兵种进阶:</div> <div>
                                    <i class="part2-soldier-add1" v-for="(item, index) in suit(martialListId[general.kcjwj_0d].sybz_82)" :key="index" :data-soldier="soldiers[item]"></i>
                                    <i class="part2-soldier-add2" v-for="(item, index) in suit(martialListId[general.kcjwj_0d].sybz_82)" :key="index" :data-soldier="soldiers[item]"></i>
                                </div></div>
                            </div> -->
                        </div>
                        <div class="part2-h3">满级说明</div>
                        <div class="part2-detail">{{martialListId[general.kcjwj_0d].mjxg_fe}}</div>
                    </div>
                </div>
                <div class="part2-friend">
                    <div class="part2-title part2-title4"></div>

                    <div class="part2-friend-panel" v-if="general.xcxwdwjk1_1b">
                        <div class="part2-h3">{{general.yfmc1_97}}</div>
                        <div class="part2-detail">{{general.yfsm1_25}}</div>
                        <div class="part2-friend-list">
                            <div class="part2-friend-item" v-for="(id, index) in xcxwdwjk1_1b" v-if="'' != id" @click="toGeneralDetail(generalListId[id].wjid_b9)">
                                <div class="part2-friend-img">
                                    <img :src="generalListId[id].wjtxicon_79" alt="" class="auto-img">
                                    <!-- <img src="./ossweb-img/general.png" alt="" class="auto-img"> -->
                                </div>
                                <div class="part2-friend-name">{{generalListId[id].wjmc_4b}}</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="part2-friend-panel" v-if="general.xcxwdwjk2_1b">
                        <div class="part2-h3">{{general.yfmc2_97}}</div>
                        <div class="part2-detail">{{general.yfsm2_25}}</div>
                        <div class="part2-friend-list">
                            <div class="part2-friend-item" v-for="(id, index) in xcxwdwjk2_1b" v-if="'' != id" @click="toGeneralDetail(generalListId[id].wjid_b9)">
                                <div class="part2-friend-img">
                                    <img :src="generalListId[id].wjtxicon_79" alt="" class="auto-img">
                                    <!-- <img src="./ossweb-img/general.png" alt="" class="auto-img"> -->
                                </div>
                                <div class="part2-friend-name">{{generalListId[id].wjmc_4b}}</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="part2-friend-panel" v-if="general.xcxwdwjk3_1b">
                        <div class="part2-h3">{{general.yfmc3_97}}</div>
                        <div class="part2-detail">{{general.yfsm3_25}}</div>
                        <div class="part2-friend-list">
                            <div class="part2-friend-item" v-for="(id, index) in xcxwdwjk3_1b" v-if="'' != id" @click="toGeneralDetail(generalListId[id].wjid_b9)">
                                <div class="part2-friend-img">
                                    <img :src="generalListId[id].wjtxicon_79" alt="" class="auto-img">
                                    <!-- <img src="./ossweb-img/general.png" alt="" class="auto-img"> -->
                                </div>
                                <div class="part2-friend-name">{{generalListId[id].wjmc_4b}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
   
    <script src="//ossweb-img.qq.com/images/js/title.js"></script>
    <script src="//game.gtimg.cn/images/js/2018foot/foot.js"></script>
    <script src="//ossweb-img.qq.com/images/js/jquery/jquery-1.9.1.min.js"></script>
    <script src="//ossweb-img.qq.com/images/js/PTT/ping_tcss_tgideas_https_min.js"></script>
    <script src="//ossweb-img.qq.com/images/js/vue_component/vue-2.2.6.min.js"></script>
    <script>
        if (typeof(pgvMain) == 'function') pgvMain(); //千万不能忘记！
    </script>
    <script>
        var app = new Vue({
            el: '#wrapper',
            data: {
                countries: {
                    "魏": 1,
                    "蜀": 2,
                    "吴": 3,
                    "群": 4,
                },
                soldiers: {
                    "骑兵": 1, // 重骑兵 象骑兵
                    "步兵": 2, // 藤甲兵 盾甲兵
                    "弓兵": 3, // 连弩兵 盾弓兵
                    "枪兵": 4, // 狂斧兵 皇戟兵
                },
                skill: 2,
                wujiang: {},
                wuji: {},
                general: {},
                generalListId: {},
                martial: {},
                martialListId: {},
                xcxwdwjk1_1b: '',
                xcxwdwjk2_1b: '',
                xcxwdwjk3_1b: '',
            },
            created:function(){
                var pageLink = window.location.search;
                this.generalId = parseInt(this.getUrlParam(pageLink, 'wjid_b9'));

                var $this=this
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open('GET','https://war.qq.com/act/a20200914wxpx/wujiang.json','true');  //请求本地json   用get 方式请求    true  异步  false 同步
                // xmlHttp.open('GET','./js/wujiang.json','true');  //请求本地json   用get 方式请求    true  异步  false 同步
                xmlHttp.send();
                xmlHttp.onreadystatechange = function(data){
                    if(xmlHttp.readyState === 4 & xmlHttp.status === 200){  // 0.未初始化  1.启动  2.发送 3.接受 4.完成 
                        var obj=eval('('+data.currentTarget.response+')')
                            Vue.nextTick(()=>{
                                $this.wujiang=obj.wujiang;
                                $this.setGeneralListById();
                                
                                $this.general = $this.generalListId[$this.generalId];
                                console.log($this.general);

                                if($this.general.xcxwdwjk1_1b) {
                                    $this.xcxwdwjk1_1b = $this.general.xcxwdwjk1_1b.toString().split("、");
                                }
                                if($this.general.xcxwdwjk2_1b) {
                                    $this.xcxwdwjk2_1b = $this.general.xcxwdwjk2_1b.toString().split("、");
                                }
                                if($this.general.xcxwdwjk3_1b) {
                                    $this.xcxwdwjk3_1b = $this.general.xcxwdwjk3_1b.toString().split("、");
                                }
                            }
                        )
                    }
                }

                var xmlHttp2 = new XMLHttpRequest();
                xmlHttp2.open('GET','https://war.qq.com/act/a20200914wxpx/wuji.json','true');  //请求本地json   用get 方式请求    true  异步  false 同步
                // xmlHttp2.open('GET','./js/wuji.json','true');  //请求本地json   用get 方式请求    true  异步  false 同步
                xmlHttp2.send();
                xmlHttp2.onreadystatechange = function(data){
                    if(xmlHttp2.readyState === 4 & xmlHttp2.status === 200){  // 0.未初始化  1.启动  2.发送 3.接受 4.完成 
                        var obj=eval('('+data.currentTarget.response+')')
                            Vue.nextTick(()=>{
                                $this.wuji=obj.wuji;
                                $this.setMartialListById();
                            }
                        )
                    }
                }
            },
            methods: {
                setMartialListById: function(){
                    this.martialListId = [];
                    for (var index = 0; index < this.wuji.length; index++) {
                        var martial = this.wuji[index];
                        this.martialListId[martial["wjid_cc"]] = martial;
                    }
                },
                setGeneralListById: function(){
                    this.generalListId = [];
                    for (var index = 0; index < this.wujiang.length; index++) {
                        var general = this.wujiang[index];
                        this.generalListId[general["wjid_b9"]] = general;
                    }
                    console.log(this.generalListId);
                },
                getUrlParam(url, parm) {
                    var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)");
                    var r = url.substr(url.indexOf("\?") + 1).match(reg);
                    if (r != null) 
                        return unescape(r[2]);
                    return null;
                },
                getWidth(number) {
                    return number / 3 + "%";
                },
                suit(value) {
                    if(!value) {
                        return "";
                    }
                    return value.split(",");
                },
                toGeneralDetail(id) {
                    window.open("./generaldetail.shtml?wjid_b9=" + id);
                }
            },

        })
    </script>
    <script src="/a20200818web/js/zoom.js"></script>
    <script src="/a20200818web/js/nav.js"></script>
 
</body>

</html>

<!-- #t6Hl8#26018ACCE21D2FF1873B266C938B16DA -->